<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% load qr_code %}
    <link rel="stylesheet"  href="{% static 'appFuncionario/crearUsuario/style.css' %}">
    <link rel="icon" type="image/jpg" href="{% static 'appFuncionario/login/imagenes/logo.png' %}">
    
    <title>Registro Listo</title>
</head>
<body>
    <h1 id="centrar"> Imprima la tarjeta y entregesela a Cliente</h1>
    <div class="container">
        <img src="{% static 'appFuncionario/crearUsuario/tarjeta.png' %}">
        <div class="qr">
            {% qr_from_text Cliente.getRut size=16 version=1%}
        </div>
        <div class="info">
            <h3>N°{{Numero}}</h3>
                {% for palabra in Cliente.getInfoTarj %}
                    {{palabra}}</br>
                {% endfor %}
        </div>
    </div>
    <form action= "/confirmado" method="GET"> {% csrf_token %}
        <div id="btCentrar"class="enviar">
            <input type="hidden" name="func" value = "{{Funcionario.getRut}}">
            <input type="hidden" name="serv" value = "{{Servicio.getNum}}">
            <input class = "boton" type="submit" value="Imprimir">
        </div>
    </form>
</body>
</html>