<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet"  href="{% static 'appFuncionario/crearUsuario/style.css' %}">
    <link rel="icon" type="image/jpg" href="{% static 'appFuncionario/login/imagenes/logo.png' %}">
    
    <title>Registro Clientes</title>
</head>
<body>
    <div class ="tabla">
        <form action = "/confirmarRegistro" method="GET"> {% csrf_token %}
            <input type="hidden" name="func" value = "{{Funcionario.getRut}}">
            <input type="hidden" name="serv" value = "{{Servicio.getNum}}">
            <h1> Pagina de registro Clientes</h1>
            <table>
                <tbody>
                    <tr>
                        <td> Rut</td>
                        <td><input class= "ingreso" type="text" placeholder="Ingrese Rut" name="rut" required></td>
                    </tr>
                    <tr>
                        <td> Correo</td>
                        <td> <input class= "ingreso" type="Email" placeholder="Ingrese correo" name="correo" required> </td>
                    </tr>
                    <tr>
                        <td> Nombre</td>
                        <td><input class= "ingreso" type="text" placeholder="Ingrese Nombre" name="nombre" required></td>
                    </tr>
                    <tr>
                        <td> Telefono</td>
                        <td><input class= "ingreso" type="text" placeholder="Ingrese Telefono" name="telefono"></td>
                    </tr>
                    <tr>
                        <td colspan="2" aling="center">
                            <input class = "boton" type="submit" value="Registrar">
                            <input class = "boton" type="button" value="Cancelar">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div> 
</body>
</html>