<table id="tablaInfo">
    <tr>
        <td>N° Servicio</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Servicio.getNum}}</td>
    </tr>
    <tr>
        <td>Fecha Inicio Servicio</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Servicio.getFechaInicio}}</td>
    </tr>
    <tr>
        <td>Cantidad de Elementos</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Cantidad}}</td>
    </tr>
    <tr>
        <td>Funcionario Asociado</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Funcionario.getUser}}</td>
    </tr>
    <tr>
        <td>Hora Inicio</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Servicio.getHoraInicio}}</td>
    </tr>
</table>