<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script><!-- jQuery -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script><!-- Bootstrap -->

<div class="table-wrapper-scroll-y my-custom-scrollbar" id="tablaElementos">
    <table class="table table-dark">
      <thead>
        <tr>
          <th colspan="4" scope="col">Elementos a Retirar</th>
        </tr>
        <tr>
          <th>Id Detalle</th>
          <th>Tipo Elemento</th>
          <th>Id Elemento</th>
        </tr>
      </thead>
      <tbody>
        {% for detalle,elemento in ListaAgregados %}
          <tr>
            <td>{{detalle.getId}}</td>
            <td>{{elemento.getTipo}}</td>
            <td>{{elemento.getId}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>